<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SAPrepareFilesExtension.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Controls" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Controls" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Common.Integration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.VersionControl.Controls.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.SourceControl.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Services.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Core.WebApi" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SAPrepareFilesExtension.GeneralSettings>
      <setting name="ResultFolderPath" serializeAs="String">
        <value>%ProjectPath%\..\ToProduction</value>
      </setting>
      <setting name="FullScriptsPath" serializeAs="String">
        <value>%ProjectPath%\SQL\_DeploymentScripts\OngoingChanges_FullScripts</value>
      </setting>
      <setting name="DefaultZipName" serializeAs="String">
        <value>%Date%_[%TaskNums%]_fixes</value>
      </setting>
      <setting name="CopyMailBodyToClipboard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStackTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResultSubFoldersName" serializeAs="String">
        <value>%Date:yyyyMMdd_HH-mm-ss%</value>
      </setting>
      <setting name="AddProjectFolderInZip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteTempFilesAfterArchiving" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailBody" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Please deploy on Production</string>
            <string />
            <string>{Tickets:</string>
            <string>%Tickets%</string>
            <string>}</string>
            <string>{%ProjectName% Files:</string>
            <string>%Files:!SQL%</string>
            <string>}</string>
            <string>{SQL:</string>
            <string>%Files:SQL%</string>
            <string>}</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="EmailTitle" serializeAs="String">
        <value>%Date%_[%TaskNums%]_fixes</value>
      </setting>
      <setting name="EmailAddressTo" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenResultSubFolderIfNotEmail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskItem" serializeAs="String">
        <value>%TaskId%    %TaskTitle%</value>
      </setting>
      <setting name="FileItem" serializeAs="String">
        <value>./%FilePath% %FileChangedType%</value>
      </setting>
      <setting name="IncludeDeletedFilesPathInEmailDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlProjectName" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="EmailAddressFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RootFolderName" serializeAs="String">
        <value>Development</value>
      </setting>
    </SAPrepareFilesExtension.GeneralSettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
